@using JokesApp.Models

@model Tutorials



@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="padding: 40px">
    <h1>@ViewData["Title"]</h1>

    <p><a href="https://www.tutorialsteacher.com/mvc/htmlhelper-password-passwordfor">C# Tutorials</a></p>

    <p class="sub-header">Dropdowns</p>
    <div class="dropdown">
        @Html.DropDownListFor(m => m.StudentGender, new SelectList(Enum.GetValues(typeof(Gender))), "Select Gender")
    </div>


    <p class="sub-header">Radio Buttons</p>
    <div class="dropdown">
        @Html.LabelFor(m => m.GenderRadioMale, "Male")
        @Html.RadioButtonFor(m => m.GenderRadioMale, "Male")

        @Html.LabelFor(m => m.GenderRadioFemale, "Female")
        @Html.RadioButtonFor(m => m.GenderRadioFemale, "Female")
    </div>


    <p class="sub-header">Checkbox</p>
    <div class="dropdown">
        @Html.CheckBoxFor(m => m.isActive)
    </div>



    <p class="sub-header">Text Area</p>
    <div class="dropdown">
        @Html.TextAreaFor(m => m.Description)
    </div>


    <p class="sub-header">Text Box</p>
    <div class="dropdown">
        @Html.TextBoxFor(m => m.StudentName)
    </div>


    <p class="sub-header">Hidden Field</p>
    <div class="dropdown">
        @Html.HiddenFor(m => m.StudentId)
    </div>


    <p class="sub-header">Password</p>
    <div class="dropdown">
        @Html.PasswordFor(m => m.Password)
    </div>



    <p class="sub-header">Display</p>
    <div class="dropdown">
        @Html.DisplayFor(m => m.StudentSubject)
    </div>


    <p class="sub-header">Label</p>
    <div class="dropdown">
        @Html.LabelFor(m => m.StudentSubject)
    </div>


    <p class="sub-header">Editor</p>
    <div class="dropdown">
        Student ID: @Html.EditorFor(m => m.StudentId) <br />
        Student Name: @Html.EditorFor(m => m.StudentName) <br />
        Age: @Html.EditorFor(m => m.Age) <br />
        Password: @Html.EditorFor(m => m.Password) <br />
        Newly Enrolled: @Html.EditorFor(m => m.isNewlyEnrolled) <br />
        Date of Birth: @Html.EditorFor(m => m.DoB) <br />
    </div>







</div>